<div class="row">
  <div class=" col-md-4 offset-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
          <div class="form-group">

            <p for="password" class="control-label mb-2 font-weight-bold text-lg">Password:</p>

            <input type="password" class="form-control" formControlName="password" placeholder="Write a password..." autocomplete="new-password"
              [ngClass]="{ 'is-valid': (submitted || f.password.dirty) && !f.password.errors, 'is-invalid': (submitted || f.password.dirty) && f.password.errors }">
              <app-password-strength [passwordToCheck]="signupForm.value.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>

            <div class="invalid-feedback" *ngIf="f.password.errors">
              <span *ngIf="f.password.errors?.['required']">Password is required</span>
              <span *ngIf="f.password.errors?.['minlength']">Password must be at least 8 characters long</span>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
